@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
 background-color: #efedd6;
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  overflow-x: hidden;
}

.card{
  background-color: steelblue;
  width: 25rem;
  height: 12.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.8rem;
  font-weight: bold;
  color: #fff;
  border-radius: 10px;
  box-shadow: 2px 4px 5px rgba(0 , 0 , 0 , 0.3);
  margin: 10px 0;
  transform: translateX(400%);
  transition: all 0.6s cubic-bezier(0.58,-0.39, 0.45, 1.61);
}

.card:nth-of-type(even){
  transform: translateX(-400%);
}

.card.show{
  transform: translateX(0%);
}

