/* :root{
  --ff-primary: 'Source Sans Pro' , sans-serif;
  --ff-secondary: 'Source Code Pro' , monospace;

  --fw-reg: 300;
  --fw-bold: 900;

  --clr-light: #fff;
  --clr-dark: #303030;
  --clr-accent: #16e4eb;

  --fs-h1: 3rem;
  --fs-h2: 2.25rem;
  --fs-h3: 1.25rem;
  --fs-body: 1rem;

  --bs: 0.25em 0.25em 0.75em rgba(0 , 0 , 0 , 0.25),
        0.125em 0.125em 0.25em rgba(0 , 0 , 0 , 0.15);
} */

:root{
  --ff-primary: 'Source Sans Pro' , sans-serif;
  --ff-secondary: 'Source Code Pro' , monospace;

  --fw-reg: 300;
  --fw-bold: 900;

  /* --clr-light: hwb(0 81% 15%);
  --clr-dark: #281515;
  --clr-accent: #1d5494; */

  --clr-light: #fff;
  --clr-dark: #303030;
  --clr-accent: #16e0bd;

  /* --clr-light: #FFFFFF;
  --clr-dark: #6E6E6E;
  --clr-accent: #DDD0C8; */

  --fs-h1: 3rem;
  --fs-h2: 2.25rem;
  --fs-h3: 1.25rem;
  --fs-body: 1rem;

  --bs: 0.25em 0.25em 0.75em rgba(0 , 0 , 0 , 0.25),
        0.125em 0.125em 0.25em rgba(0 , 0 , 0 , 0.15);
}


.theme-1{
  --clr-light: #EE72F8;
  --clr-dark: #EF036C;
  --clr-accent: #31EC56;
}

.theme-1{
  color: #6E6E6E;
  background-color: rgba(110, 110, 110 , 0.2);
  box-shadow: rgba(110, 110, 110 , 0.4) 5px 5px, rgba(110, 110, 110 , 0.3) 10px 10px, rgba(110, 110, 110 , 0.2) 15px 15px, rgba(110, 110, 110 , 0.1) 20px 20px, rgba(110, 110, 110 , 0.05) 25px 25px;

}


.theme-2{
  color: rgb(238, 114, 248);
  background-color: rgba(238, 114, 248, 0.2);
  box-shadow: rgba(238 , 114, 248, 0.4) 5px 5px, rgba(238 , 114, 248, 0.3) 10px 10px, rgba(238 , 114, 248, 0.2) 15px 15px, rgba(238 , 114, 248, 0.1) 20px 20px, rgba(238 , 114, 248, 0.05) 25px 25px;
}


.theme-3{
  color: rgb(49, 236, 86);
  background-color: rgba(49, 236, 86 , 0.2);
  box-shadow: rgba(49, 236, 86 , 0.4) 5px 5px, rgba(49, 236, 86 , 0.3) 10px 10px, rgba(49, 236, 86 , 0.2) 15px 15px, rgba(49, 236, 86 , 0.1) 20px 20px, rgba(49, 236, 86 , 0.05) 25px 25px;

}


.choose-theme-section{
  position: absolute;
  right: 12%;
  top: 0;
}

.choose-theme-section button{
  padding: 9px 13px;
  border-radius: 2px;
  border: none;
  cursor: pointer;
  margin-left: 1rem;
  /* box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px !important; */
}



.portfolio{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
}

.portfolio > div{
  position: relative;
  width: 330px;
  height: 260px;
  overflow: hidden;
  background-color: var(--clr-accent);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.portfolio > div > .about-project{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: absolute;
  bottom: 0px;
  color: #000;
  width: 90%;
  line-height: 18px;
  margin: 0.4em 0;
  transition: opacity 150ms linear;
}

.image img{
  width: 100%;
  height: 200px;
  object-fit: cover;
  object-position: center;
  cursor: pointer;
}

.image{
  transition: all 300ms ease;
  width: 100%;
  height: 150px;
  overflow: hidden;
}

.portfolio div:hover img{
  opacity: 0.6;
}

.details{
  visibility: hidden;
  position: absolute;
  color: white;
  background-color:rgba(48, 48, 48 , 0.6);
  height: 19.5%;
  width: 100%;
  padding: 12px;
  font-size: 14px;
  bottom: 0;
  transform: translate( 0 , 100%);
  transition: all 300ms ease;
}

.portfolio div:hover .details{
  visibility: visible;
  transform: translate(0%);
}

.portfolio div:hover .image{
  scale: 1.8;
}

.portfolio div:hover .about-project{
  opacity: 0;
}

.all-projects-button{
  padding: 1em;
  margin: 2em auto;
  background-color: var(--clr-accent);
  font-weight: bold;
  border: none;
  border-radius: 2px;
  box-shadow: 5px 4px 2px rgba(0 , 0 , 0 , 1);
  transition: transform 50ms linear;
  cursor: pointer;
}

.all-projects-button:active{
  transform: translate(5px , 4px);
  box-shadow: none;
}

@media (max-width:1000px) {

  .portfolio{
    gap: 100px;
  }

}

