/* Import Google font - Poppins */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #f6f7fb;
}

::selection {
  color: #fff;
  background-color: #7d2ae8;
}

.container-wrapper {
  padding: 2rem;
}

.container {
  padding: 2rem 7rem;
  border-radius: 14px;
  background: #fff;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  margin: 1rem;
}

.result_images {
  display: flex;
  column-gap: 7rem;
}

.container.start .user_result {
  transform-origin: left;
  animation: userShake 0.7s ease infinite;
}

@keyframes userShake {
  50% {
    transform: rotate(10deg);
  }
}

.container.start .cpu_result {
  transform-origin: right;
  animation: cpuShake 0.7s ease infinite;
}

@keyframes cpuShake {
  50% {
    transform: rotate(-10deg);
  }
}

.result_images img {
  width: 100px;
}

.user_result img {
  transform: rotate(90deg);
}

.cpu_result img {
  transform: rotate(-90deg) rotateY(180deg);
}

.result {
  text-align: center;
  font-size: 2rem;
  color: #7d2ae8;
  margin-top: 1.5rem;
}

.option_image img {
  width: 50px;
}

.option_images {
  display: flex;
  align-items: center;
  margin-top: 2.5rem;
  justify-content: space-between;
}

.container.start .option_images {
  pointer-events: none;
}

.option_image {
  display: flex;
  flex-direction: column;
  align-items: center;
  opacity: 0.5;
  cursor: pointer;
  transition: opacity 0.3s ease;
}

.option_image:hover {
  opacity: 1;
}

.option_image.active {
  opacity: 1;
}

.option_image img {
  pointer-events: none;
}

.option_image p {
  color: #7d2ae8;
  font-size: 1.235rem;
  margin-top: 1rem;
  pointer-events: none;
}


.toprightfixedBtn {
  position: fixed;
  top: 0;
  right: 0;
  margin: 1rem;
}

.toprightfixedBtn>img {
  max-width: 50px;
}

.toolTipWrap:hover .toolTipContent {
  opacity: 1;
  transform: translate(0px, -50%);
  pointer-events: all;
}

.toolTipWrap>.toolTipContent {
  position: absolute;
  top: 50%;
  right: 100%;
  color: black;
  font-size: 0.75rem;
  opacity: 0;
  transform: translate(-20px, -50%);
  min-width: 120px;
  background-color: white;
  border-radius: 8px;
  padding: 4px 8px;
  transition: transform 200ms ease, opacity 200ms ease;
  margin-right: 14px;
  pointer-events: none;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 18px 36px -18px, rgba(50, 50, 93, 0.25) 0px 30px 60px -12px;
}

.toolTipWrap>.toolTipContent::after {
  content: '';
  position: absolute;
  left: calc(100% - 1px);
  /*Here I decreased the 1px because i don't want to leave any type of separation between the tooltip content and triangle  */
  top: 50%;
  transform: translateY(-50%);
  width: 0;
  height: 0;
  border-left: 10px solid white;
  border-right: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-top: 10px solid transparent;
}

@media screen and (max-width: 660px) {
  .result_images img {
    width: 60px;
  }

  .option_image img {
    width: 35px;
  }

  .container {
    padding: 1.2rem 3rem;
    width: 100%;
    margin: auto;
  }
}