@import url("https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200;0,400;0,500;0,600;0,700;0,800;1,300&display=swap");

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: 'Mulish' , sans-serif;
  background-color:  #e1e1e1;
}

 h1{
  font-size: 20px;
}

.box{
  border: 1px solid #999;
  padding: 1.3em;
  background-color: #eee;
  /* display: none; */
}

.result{
  display: flex;
  justify-content: space-between;
  width: 80%;
}

