:root {
  --primary: 62, 49, 49;
}

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  min-width: 100%;
  text-align: center;
}

header {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 1rem;
}

p {
  margin-top: 0.5rem;
}

.question-btn {
  background-image: url('data:image/svg+xml,<svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 24 24" height="200px" width="200px" xmlns="http://www.w3.org/2000/svg"><path d="M12 22C6.47715 22 2 17.5228 2 12C2 6.47715 6.47715 2 12 2C17.5228 2 22 6.47715 22 12C22 17.5228 17.5228 22 12 22ZM12 20C16.4183 20 20 16.4183 20 12C20 7.58172 16.4183 4 12 4C7.58172 4 4 7.58172 4 12C4 16.4183 7.58172 20 12 20ZM11 15H13V17H11V15ZM13 13.3551V14H11V12.5C11 11.9477 11.4477 11.5 12 11.5C12.8284 11.5 13.5 10.8284 13.5 10C13.5 9.17157 12.8284 8.5 12 8.5C11.2723 8.5 10.6656 9.01823 10.5288 9.70577L8.56731 9.31346C8.88637 7.70919 10.302 6.5 12 6.5C13.933 6.5 15.5 8.067 15.5 10C15.5 11.5855 14.4457 12.9248 13 13.3551Z"></path></svg>');
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  width: 60px;
  height: 60px;
  background-color: transparent;
  border: none;
  outline: none;
  margin-left: 8px;
  cursor: pointer;
}

h1 {
  color: rgba(var(--primary));
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

h2 {
  margin-bottom: 0.4rem;
  margin-top: 0.75rem;
}

h3 {
  margin-top: 0.4rem;
  margin-bottom: 0.4rem;
}

.game-container-wrap {
  width: 100%;
  max-width: 450px;
  margin-left: auto;
  margin-right: auto;
  min-height: 100vh;
  display: flex;
  gap: 1rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

.function-btn-wrap {
  width: 100%;
  /* height: 100%; */
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  grid-template-rows: repeat(2, minmax(0, 1fr));
  gap: 8px;
  max-width: 100%;
}

.btn-primary {
  background-color: rgba(var(--primary));
  color: White;
  padding: 0.75rem 1.5rem;
  border: none;
  cursor: pointer;
  --shadow-color: #746262;
  box-shadow: 0.1px 0.1px 0px var(--shadow-color),
    0.2px 0.2px 0px var(--shadow-color), 0.3px 0.3px 0px var(--shadow-color),
    0.4px 0.4px 0px var(--shadow-color), 0.5px 0.5px 0px var(--shadow-color),
    0.6px 0.6px 0px var(--shadow-color), 0.7px 0.7px 0px var(--shadow-color),
    0.8px 0.8px 0px var(--shadow-color), 0.9px 0.9px 0px var(--shadow-color),
    1px 1px 0px var(--shadow-color), 1.1px 1.1px 0px var(--shadow-color),
    1.2px 1.2px 0px var(--shadow-color), 1.3px 1.3px 0px var(--shadow-color),
    1.4px 1.4px 0px var(--shadow-color), 1.5px 1.5px 0px var(--shadow-color),
    1.6px 1.6px 0px var(--shadow-color), 1.7px 1.7px 0px var(--shadow-color),
    1.8px 1.8px 0px var(--shadow-color), 1.9px 1.9px 0px var(--shadow-color),
    2px 2px 0px var(--shadow-color), 2.1px 2.1px 0px var(--shadow-color),
    2.2px 2.2px 0px var(--shadow-color), 2.3px 2.3px 0px var(--shadow-color),
    2.4px 2.4px 0px var(--shadow-color), 2.5px 2.5px 0px var(--shadow-color),
    2.6px 2.6px 0px var(--shadow-color), 2.7px 2.7px 0px var(--shadow-color),
    2.8px 2.8px 0px var(--shadow-color), 2.9px 2.9px 0px var(--shadow-color),
    3px 3px 0px var(--shadow-color), 3.1px 3.1px 0px var(--shadow-color),
    3.2px 3.2px 0px var(--shadow-color), 3.3px 3.3px 0px var(--shadow-color),
    3.4px 3.4px 0px var(--shadow-color), 3.5px 3.5px 0px var(--shadow-color),
    3.6px 3.6px 0px var(--shadow-color), 3.7px 3.7px 0px var(--shadow-color),
    3.8px 3.8px 0px var(--shadow-color), 3.9px 3.9px 0px var(--shadow-color),
    4px 4px 0px var(--shadow-color), 4.1px 4.1px 0px var(--shadow-color),
    4.2px 4.2px 0px var(--shadow-color), 4.3px 4.3px 0px var(--shadow-color),
    4.4px 4.4px 0px var(--shadow-color), 4.5px 4.5px 0px var(--shadow-color),
    4.6px 4.6px 0px var(--shadow-color), 4.7px 4.7px 0px var(--shadow-color),
    4.8px 4.8px 0px var(--shadow-color), 4.9px 4.9px 0px var(--shadow-color),
    5px 5px 0px var(--shadow-color), 5.1px 5.1px 0px var(--shadow-color),
    5.2px 5.2px 0px var(--shadow-color), 5.3px 5.3px 0px var(--shadow-color),
    5.4px 5.4px 0px var(--shadow-color), 5.5px 5.5px 0px var(--shadow-color),
    5.6px 5.6px 0px var(--shadow-color), 5.7px 5.7px 0px var(--shadow-color),
    5.8px 5.8px 0px var(--shadow-color), 5.9px 5.9px 0px var(--shadow-color),
    6px 6px 0px var(--shadow-color), 6.1px 6.1px 0px var(--shadow-color),
    6.2px 6.2px 0px var(--shadow-color), 6.3px 6.3px 0px var(--shadow-color),
    6.4px 6.4px 0px var(--shadow-color), 6.5px 6.5px 0px var(--shadow-color),
    6.6px 6.6px 0px var(--shadow-color), 6.7px 6.7px 0px var(--shadow-color),
    6.8px 6.8px 0px var(--shadow-color), 6.9px 6.9px 0px var(--shadow-color),
    7px 7px 0px var(--shadow-color), 7.1px 7.1px 0px var(--shadow-color),
    7.2px 7.2px 0px var(--shadow-color), 7.3px 7.3px 0px var(--shadow-color),
    7.4px 7.4px 0px var(--shadow-color), 7.5px 7.5px 0px var(--shadow-color),
    7.6px 7.6px 0px var(--shadow-color), 7.7px 7.7px 0px var(--shadow-color),
    7.8px 7.8px 0px var(--shadow-color), 7.9px 7.9px 0px var(--shadow-color),
    8px 8px 0px var(--shadow-color);
  transition: transform 200ms ease, box-shadow 200ms ease;
}

.btn-primary:active {
  transform: translate(8px, 8px);
  box-shadow: none;
}

.game-container {
  padding: 1.5rem;
  background-color: rgba(var(--primary));
  width: 400px;
  height: 400px;
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  grid-template-rows: repeat(4, minmax(0, 1fr));
  gap: 8px;
  max-width: 100%;
}

.game-container>div {
  background-color: #633b3b;
  cursor: pointer;
  transition-duration: 300ms;
  transition-delay: 3s, 0s;
  transition-property: color, transform;
}

.game-container>div.rotated {
  transform: rotate3d(0, 1, 0, 180deg);
  background-color: #73a580;
}

.game-container>div.wrongTile {
  transform: rotate3d(0, 1, 0, 180deg);
  background-color: red;
  background-size: 50%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" shape-rendering="geometricPrecision" text-rendering="geometricPrecision" image-rendering="optimizeQuality" fill-rule="evenodd" clip-rule="evenodd" viewBox="0 0 512 508.33"><path fill="%23FFFFFF" d="M317.99 323.62c-17.23-19.89-35.3-40.09-54.23-60.09-62.06 59.35-119.53 126.18-161.12 201.73-51.02 92.68-126.31 16.84-92.15-50.33 27.46-61.28 98.07-146.3 182.94-220.07-46.74-41.72-97.97-79.34-154.08-107.07C-42.76 47.2 19.97-20.82 79.37 6.16c50.04 19.82 119.09 70.85 182.26 134.32 63.11-45.86 129.55-81.8 189.45-95.87 13-3.06 50.95-11.33 59.69 1.04 3.29 4.67-.33 11.68-7.08 19.29-22.99 25.96-84.78 67.12-114.72 90.82-21.61 17.11-43.55 34.99-65.37 53.71 23.2 28.81 43.94 58.64 60.47 88.17 14.37 25.66 25.55 51.1 32.42 75.46 3.14 11.13 11.75 43.64 1.38 51.66-3.91 3.03-10.11.16-16.95-5.38-23.34-18.89-61.29-70.77-82.93-95.76z"/></svg>');
}

.TimerWrapper {
  background-color: rgba(0, 0, 0, 0.2);
  position: absolute;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.modalWrapper {
  pointer-events: none;
  background-color: transparent;
  position: absolute;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  padding: 1.5rem;
  text-align: left;
}

.TimerWrapper.hide {
  display: none;
}

.modalWrapper.visible {
  background-color: rgba(0, 0, 0, 0.2);
  pointer-events: all;
}

.modalWrapper .modal-content {
  transform: translateY(-100vh);
  transition-delay: 200ms;
  transition: all 200ms ease;
  z-index: 9999;
  max-width: 600px;
}

.modalWrapper .modal-content.visible {
  transform: translateY(0%);
}

.modalWrapper h2 {
  margin-top: 0;
  text-align: center;
}

.modal-content {
  background-color: white;
  padding: 2rem;
  border-radius: 8px;
}

.TimerWrapper .TimerContent {
  background-color: white;
  color: black;
  font-size: 4rem;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.toolTipWrap {
  position: relative;
}

.toprightfixedBtn>img {
  max-width: 50px;
}

.toolTipWrap:hover .toolTipContent {
  opacity: 1;
  transform: translate(0px, -50%);
  pointer-events: all;
}

.toolTipWrap>.toolTipContent {
  position: absolute;
  top: 50%;
  right: 100%;
  color: white;
  font-size: 0.75rem;
  opacity: 0;
  transform: translate(-20px, -50%);
  min-width: 90px;
  background-color: rgba(var(--primary));
  border-radius: 8px;
  padding: 4px 8px;
  transition: transform 200ms ease, opacity 200ms ease;
  margin-right: 14px;
  pointer-events: none;
}

.toolTipWrap>.toolTipContent::after {
  content: '';
  position: absolute;
  left: calc(100% - 1px);
  /*Here I decreased the 1px because i don't want to leave any type of separation between the tooltip content and triangle  */
  top: 50%;
  transform: translateY(-50%);
  width: 0;
  height: 0;
  border-left: 10px solid rgba(var(--primary));
  border-right: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-top: 10px solid transparent;
}

.toolTipWrap>.toolTipContentOnBottom {
  top: 100%;
  transform: translate(50%, 0);
  right: 50%;
  margin-right: 0;
  margin-top: 28px;
  min-width: 70px;
}

.toolTipWrap:hover .toolTipContentOnBottom {
  transform: translate(50%, -20px);
}

.toolTipWrap>.toolTipContentOnBottom::after {
  right: auto;
  top: auto;
  left: 50%;
  transform: translateX(-50%);
  bottom: calc(100% - 1px);
  border-left-color: transparent;
  border-bottom-color: rgba(var(--primary));
}




@media screen and (max-width: 800px) {
  body {
    font-size: 0.75rem;
  }

  .game-container {
    width: 300px;
    height: 300px;
    padding: 1rem;
  }

  .btn-primary {
    padding: 0.5rem 0.75rem;
    box-shadow: 0.1px 0.1px 0px var(--shadow-color),
      0.2px 0.2px 0px var(--shadow-color), 0.3px 0.3px 0px var(--shadow-color),
      0.4px 0.4px 0px var(--shadow-color), 0.5px 0.5px 0px var(--shadow-color),
      0.6px 0.6px 0px var(--shadow-color), 0.7px 0.7px 0px var(--shadow-color),
      0.8px 0.8px 0px var(--shadow-color), 0.9px 0.9px 0px var(--shadow-color),
      1px 1px 0px var(--shadow-color), 1.1px 1.1px 0px var(--shadow-color),
      1.2px 1.2px 0px var(--shadow-color), 1.3px 1.3px 0px var(--shadow-color),
      1.4px 1.4px 0px var(--shadow-color), 1.5px 1.5px 0px var(--shadow-color),
      1.6px 1.6px 0px var(--shadow-color), 1.7px 1.7px 0px var(--shadow-color),
      1.8px 1.8px 0px var(--shadow-color), 1.9px 1.9px 0px var(--shadow-color),
      2px 2px 0px var(--shadow-color), 2.1px 2.1px 0px var(--shadow-color),
      2.2px 2.2px 0px var(--shadow-color), 2.3px 2.3px 0px var(--shadow-color),
      2.4px 2.4px 0px var(--shadow-color), 2.5px 2.5px 0px var(--shadow-color),
      2.6px 2.6px 0px var(--shadow-color), 2.7px 2.7px 0px var(--shadow-color),
      2.8px 2.8px 0px var(--shadow-color), 2.9px 2.9px 0px var(--shadow-color),
      3px 3px 0px var(--shadow-color), 3.1px 3.1px 0px var(--shadow-color),
      3.2px 3.2px 0px var(--shadow-color), 3.3px 3.3px 0px var(--shadow-color),
      3.4px 3.4px 0px var(--shadow-color), 3.5px 3.5px 0px var(--shadow-color),
      3.6px 3.6px 0px var(--shadow-color), 3.7px 3.7px 0px var(--shadow-color),
      3.8px 3.8px 0px var(--shadow-color), 3.9px 3.9px 0px var(--shadow-color),
      4px 4px 0px var(--shadow-color), 4.1px 4.1px 0px var(--shadow-color),
      4.2px 4.2px 0px var(--shadow-color), 4.3px 4.3px 0px var(--shadow-color),
      4.4px 4.4px 0px var(--shadow-color), 4.5px 4.5px 0px var(--shadow-color),
      4.6px 4.6px 0px var(--shadow-color), 4.7px 4.7px 0px var(--shadow-color),
      4.8px 4.8px 0px var(--shadow-color), 4.9px 4.9px 0px var(--shadow-color),
      5px 5px 0px var(--shadow-color);
    font-size: 0.75rem;
  }

  .btn-primary:active {
    transform: translate(5px, 5px);
  }

  .TimerWrapper .TimerContent {
    width: 65px;
    height: 65px;
    font-size: 2rem;
  }
}

@media screen and (max-width: 500px) {
  .game-container {
    width: 200px;
    height: 200px;
  }
}