@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap");


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  color: #fff;
  font-family: 'Montserrat', sans-serif;
}

.page-wrapper{
  background-image: url(https://codewithsakshi.github.io/assets/animal-animal-photography-close-up-38278.jpg);
  width: 85%;
  height: 66.3vh;
  background-position: center;
  background-size: 56.45%;
  margin: auto;
  padding: 1.5em 2.5em;
}

header{
  display: flex;
  justify-content: space-between;
}

.logo{
  display: flex;
  align-items: center;
  width: 140px;
  font-family: 'Lato', sans-serif;
  font-size: 0.63rem;
  font-weight: 700;
}

.logo-symbol{
  width: 23px;
  height: 29px;
  border: 3.1px solid yellow;
  margin-right: 0.6em;
}

.navbar{
  font-size: 0.64rem;
}

.navbar ul{
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  width: 26.5rem;
}

.navbar li a{
  text-decoration: none;
  color: #fff;
}

.navbar a:hover{
  color: yellow;
  border-bottom: 1px solid yellow;

}

.search-bar{
  font-size: 0.74rem;
}

.search-bar a:hover{
  color: white;
  border: none;
}

main{
  display: grid;
  grid-template-columns: 9.7fr 1fr 0.3fr;
  justify-content: space-between;
  height: 100%;
  margin-left: -0.9rem;
}

.left-wrapper{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}


.motto{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: 'Lato', sans-serif;
  font-size: 0.62rem;
  letter-spacing: 0.3rem;
  margin-top: 9.2rem;
}

.motto img{
  width: 300px;
}

.motto-text{
  margin-left: 0.9rem;
}

.details{
  display: flex;
  justify-content: space-between;
  margin-bottom: 1.5rem;
  font-size: 0.5rem;
  width: 23rem;
}

.date-wrapper{
  width: 14rem;
  display: flex;
  flex-direction: column;
}

.date-wrapper-text{
  font-size: 0.79rem;
}

.date-wrapper-date{
  color: yellow;
  margin-top: 0.4em;
}

.line{
  font-size: 2rem;
  font-weight: 100;
  color: #fff;
  margin-left: 0.5rem;
  margin-right: 1rem;
  translate: 0 -0.4rem;
}

.videos{
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.trailer-wrapper{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 8rem;
  margin-bottom: 1.5rem;
}

.watch-trailer{
  color: yellow;
  font-size: 0.6rem;
  font-weight: bold;
}

.main-icon{
  background-color: rgba(160, 160, 160, 0.9);
  width: 26px;
  height: 26px;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1px ;
}

.icon-circle{
  border: 1px solid rgba(160, 160, 160, 0.3);
  margin: 1px;
  border-radius: 50px;
}

.fa-play{
  font-size: 0.6rem;
}

.videos-thumbnail{
  display: flex;
  justify-content: space-between;
  width: 280px;
}

.videos-thumbnail img{
  width: 100px;
  border-radius: 10px;
  translate: -12px 25px;
}

.elephant-video{
  background-image: url(./images/African_Bush_Elephant.jpg.webp);
  width: 130px;
  height: 200px;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: cen;
  border-radius: 10px;
  translate: 0 45px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.fox-rhino{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 3.999rem;
}

.social-icons{
  display: flex;
  flex-direction: column;
  font-size: 0.5rem;
  justify-content: space-around;
  align-items: flex-end;
  height: 77px;
  align-self: center;
  margin-right: -0.9rem;
}