@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@200;300;400;500&display=swap");

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  font-family: "Mulish", Arial, Helvetica, sans-serif;
  background: linear-gradient(#9796f0, #fbc7d4);
  height: 100vh;
}

main{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
  margin: 0 2em;
}

.image{
  width: 80px;
  height: 400px;
  border-radius: 25px;
  transition: all 400ms linear;
  position: relative;
}

.image:hover{
  cursor: pointer;
}

.image:focus{
  width: 700px;
  cursor: pointer;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.tajMahal:focus span::before{
  content: 'The Taj Mahal';
}

.redFort:focus span::before{
  content: 'The Red Fort';
}

.hawaMahal:focus span::before{
  content: 'Hawa Mahal';
}

.gwaliorFort:focus span::before{
  content: 'Gwalior Fort';
}

.jaislmerFort:focus span::before{
  content: 'Jaislmer Fort';
}

.Khajuraho:focus span::before{
  content: 'Khajuraho';
}

.agraFort:focus span::before{
  content: 'Agra Fort';
}

.image:focus span::before{
  position: absolute;
  font-size: 22px;
  font-weight: 500;
  bottom: 10px;
  left: 10px;
  color: #fff;
  font-family: "Mulish", Arial, Helvetica, sans-serif;
}

.image span::before:hover{
  background-color: black;
}

.tajMahal{
  background-image: url(https://images.unsplash.com/photo-1610117942061-8959cf019daa?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1352&q=80);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.redFort{
  background: url(https://images.unsplash.com/photo-1602230349009-82f740989e4c?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1227&q=80);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.hawaMahal{
background-image: url(https://images.unsplash.com/photo-1617516202907-ff75846e6667?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=628&q=80);
background-position: center;
background-repeat: no-repeat;
background-size: cover;
}

.gwaliorFort{
  background: url(https://images.unsplash.com/photo-1586023546861-cd6c3332607c?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=632&q=80);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.jaislmerFort{
  background: url(https://images.unsplash.com/photo-1544616751-eea58efccec4?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=697&q=80);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.Khajuraho{
background: url(https://images.unsplash.com/photo-1606298855672-3efb63017be8?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80);
background-position: center;
background-repeat: no-repeat;
background-size: cover;
}

.agraFort{
  background: url(https://images.unsplash.com/photo-1612810436541-336b73fbcf9f?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=667&q=80);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}




